.home__content {
    display: flex;
    justify-content: space-between;
}

.home__comments {
    flex-basis: 48%;
}

.comments__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.home__designers {
    flex-basis: 48%;
}